
$black: #000000;
$primary: #800000;
$blue: #9dd1f1;
$green: #41a18a;
$grey-dark: #636363;
$grey-mid: #a7a7a7;
$grey-light: #eeeeee;
$white: #ffffff;

$window-size-big: 950px;
$window-size-small: 700px;

$default-font: 'Roboto Slab', serif;

body {
  margin: 0;
}

h1 {
  color: $white;
}

p {
  color: $white;
}

.App {
  background-color: $grey-light;
  display: grid;
  font-family: $default-font;
  grid-template-areas: 
      "header"
      "tabs"
      "content"
      "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5em auto auto 5em;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  text-align: center;

  @media screen and (min-width: $window-size-small) {
      grid-template-areas: 
          "header header header"
          ". tabs ."
          "sidebar content ."
          "footer footer footer";
      grid-template-columns: 1fr 6fr 1fr;
      grid-template-rows: 5em 4em auto 5em;
  }

  @media screen and (min-width: $window-size-big) {
      grid-template-areas: 
      "header header header"
      ". tabs ."
      "sidebar content ."
      "footer footer footer";
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-rows: 5em 4em auto 5em;
  }
}

.AppHideTabs {
  @media screen and (max-width: $window-size-small) {
    grid-template-rows: 5em 0em auto 5em;
    .TabBar {
      visibility: hidden;
    }
  }
}

.Header {
  background-color: $primary;
  display: grid;
  grid-area: header;
  grid-template-areas: "logo title menu_toggle";
  grid-template-columns: 5em 4fr 1fr;
  .Logo {
    grid-area: logo;
    height: 4em;
    padding: 0.5em;
  }
  .Title {
    align-items: center;
    display:flex;
    grid-area: title;
    justify-content: flex-start;
    margin: 0;
    text-align: center;
  }
  .MenuToggle {
    background-color: $primary;
    border: none;
    color: $white;
    float: right;
    grid-area: menu_toggle;
    margin: 0;
    i {
      font-size: 3em;
    }
    @media screen and (min-width: $window-size-small) {
      visibility: hidden;
    }
  }
  .MenuToggle:active {
    color: $black;
  }
}

.TabBar {
  align-items: stretch;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  grid-area: tabs;
  justify-content: space-between;
  margin-top: 0.5em;
  .Tab {
    background-color: $white;
    border: none;
    border-radius: 0.5em;
    flex: 1;
    font-family: $default-font;
    margin: 0.5em;
    overflow: hidden;
    padding: 1em 0.5em 1em 0.5em;
    position: relative;
    .TabFill {
      align-items: center;
      background-color: $primary;
      color: $white;
      display:flex;
      font-size: 1.5em;
      height: 100%;
      justify-content: center;
      left: 50%;
      overflow: hidden;
      position: absolute;
      top: 50%;
      width: 0;

      transform: translate(-50%, -50%);
      transition-property: width;
      transition-duration: 0.25s;
      transition-timing-function: ease-out;
    }
  }
  .Tab:hover {
    color: white;
    .TabFill {
      width: 100%;
    }
  }
  .Tab:active {
    background-color: $black;
  }
  @media screen and (min-width: $window-size-small) {
    flex-direction: row;
  }
}

.Content {
  h1 {
    color: $black;
  }
  background-color: $white;
  border-radius: 0.5em;
  grid-area: content;
  margin: 0.5em;
  min-width: 50px;
  min-height: 50px;
}

.Footer {
  background-color: $primary;
  grid-area: footer;
}
