
$black: #000000;
$primary: #800000;
$blue: #9dd1f1;
$green: #41a18a;
$grey-dark: #636363;
$grey-mid: #a7a7a7;
$grey-light: #eeeeee;
$white: #ffffff;

$window-size-big: 1020px;
$window-size-small: 700px;

$roboto-slab: 'Roboto Slab', serif;
$lato: 'Lato', sans-serif;
$quicksand: 'Quicksand', sans-serif;

$default-font: $roboto-slab;

body {
  margin: 0;
}

h1 {
  color: $white;
}

.App {
  background-color: $grey-light;
  display: grid;
  font-family: $default-font;
  grid-template-areas: 
      "header"
      "tabs"
      "content"
      "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5em auto auto 5em;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  text-align: center;

  @media screen and (min-width: $window-size-small) {
      grid-template-areas: 
          "header header header"
          ". tabs ."
          "sidebar content ."
          "footer footer footer";
      grid-template-columns: 1fr 6fr 1fr;
      grid-template-rows: 5em 4em auto 5em;
  }

  @media screen and (min-width: $window-size-big) {
      grid-template-areas: 
      "header header header"
      ". tabs ."
      "sidebar content ."
      "footer footer footer";
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-rows: 5em 4em auto 5em;
  }
}

.AppHideTabs {
  @media screen and (max-width: $window-size-small) {
    grid-template-rows: 5em 0em auto 5em;
    .TabBar {
      visibility: hidden;
    }
  }
}

.Header {
  background-color: $primary;
  display: grid;
  grid-area: header;
  grid-template-areas: "logo title menu_toggle";
  grid-template-columns: 5em 4fr 1fr;
  .Logo {
    grid-area: logo;
    height: 4em;
    padding: 0.5em;
  }
  .Title {
    align-items: center;
    display:flex;
    font-size: 1.5em;
    grid-area: title;
    justify-content: flex-start;
    margin: 0;
    text-align: center;
    @media screen and (min-width: 430px) {
      font-size: 2em;
    }
  }
  .MenuToggle {
    background-color: transparent;
    border: none;
    color: $white;
    float: right;
    grid-area: menu_toggle;
    margin: 0;
    i {
      font-size: 3em;
    }
    @media screen and (min-width: $window-size-small) {
      visibility: hidden;
    }
  }
  .MenuToggle:active {
    color: $black;
  }
}

.TabBar {
  align-items: stretch;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  grid-area: tabs;
  justify-content: space-between;
  margin-top: 0.5em;
  .Tab {
    background-color: $white;
    border: none;
    border-radius: 0.5em;
    flex: 1;
    font-family: $default-font;
    font-size: 1.0em;
    margin: 0.5em;
    overflow: hidden;
    padding: 1em 0.5em 1em 0.5em;
    position: relative;
    @media screen and (min-width: $window-size-small) {
      font-size: 0.75em;
    }
    .TabFill {
      visibility: hidden;
      @media screen and (min-width: $window-size-small) {
        align-items: center;
        background-color: $primary;
        color: $white;
        display: flex;
        font-size: 1.5em;
        height: 100%;
        justify-content: center;
        left: 50%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        visibility: visible;
        width: 0;

        transform: translate(-50%, -50%);
        transition-property: width;
        transition-duration: 0.25s;
        transition-timing-function: ease-out;
      }
    }
  }
  .Tab:hover {
    background-color: $primary;
    color: $white;
    @media screen and (min-width: $window-size-small) {
      background-color: $white;
      color: $black;
      .TabFill {
        width: 100%;
      }
    }
  }
  .Tab:active {
    background-color: $black;
  }
  @media screen and (min-width: $window-size-small) {
    flex-direction: row;
  }
}

.Content {
  h1 {
    color: $black;
  }
  background-color: $white;
  border-radius: 0.5em;
  grid-area: content;
  margin: 0.5em;
  min-width: 50px;
  min-height: 50px;
  overflow: hidden;
}

.Footer {
  align-items: center;
  background-color: $primary;
  display: flex;
  grid-area: footer;
  justify-content: center;
  p {
    color: $white;
  }
}

.EventsList {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  margin: 1em;
  .Event {
    background-color: $white;
    border-radius: 1em;
    border: solid 0.075em $primary;
    overflow: hidden;
    padding: 0;
    position: relative;
    .title {
      background-color: $primary;
      color: $white;
      padding: 0.5em;
      margin-top: 0;
    }
    .EventOverlay {
      visibility: hidden;
    }
  }
  
  @media screen and (min-width: 500px) {
    grid-template-columns: 1fr 1fr;
    .Event .EventOverlay {
      align-items: center;
      background-color: $primary;
      color: $white;
      display: flex;
      justify-content: center;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      transition: opacity 0.15s ease-out;
      visibility: visible;
      i {
        color: white;
        font-size: 3em;
      }
    }
    .Event:hover .EventOverlay {
      opacity: 1;
    }
  }
  @media screen and (min-width: $window-size-big) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.Map {
  height: 100%;
  width: 100%;
  .ToolTip {
    color: $primary;
    font-family: $default-font;
  }
}

.SignUpTab {
  p {
    margin: 1em;
  }
  a {
    font-size: 2em;
  }
}

.EventModal {
  background-color: $white;
  border-radius: 1em;
  //display: grid;
  height: 90vw;
  overflow: hidden;
  position: absolute;
  width: 90vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  h2 {
    background-color: $primary;
    color: $white;
    font-family: $default-font;
    margin: 0;
    padding: 1em 0 1em 0;
    text-align: center;
  }
  button {
    position: absolute;
    border: none;
    border-radius: 0.5em;
    bottom: 2em;
    left: 50%;
    font-size: 1em;
    padding: 0.5em 2em 0.5em 2em;
    transform: translate(-50%, 0);
  }
  @media (min-aspect-ratio: 1/1) {
    height: 90vh;
    width: 90vh;
  }
}
.EventModalContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
  h3, p {
    font-family: $default-font;
  }
}